
.footer {
    background-color: black;
    color: #faf5f5;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    width: 100%;
    }
    
    .footer-section, .footer-section1, .footer-section2, .footer-section3 {
    margin: 1%;
    width: 20%;
    }
    
    .footer-section ul, .footer-contact, .footer-section1 ul, .footer-section2 ul, .footer-section3 ul {
    list-style: none;
    padding: 0;
    }
    
    .footer-section li, .footer-section1 li, .footer-section2 li, .footer-section3 li {
    margin: 10px 0;
    cursor: pointer;
    transition: color 0.3s ease;
    }
    
    .footer-section li:hover, .footer-section1 li:hover, .footer-section2 li:hover, .footer-section3 li:hover {
    color: #b9eabf;
    font-weight: bold;
    }
    
    .footer-contact p {
    margin: 10px 0;
    transition: color 0.3s ease;
    }
    
    .footer-contact p:hover {
    color: #b9eabf;
    font-weight: bold;
    }
    
    /* Media Queries */
    
    /* For screens with max-width of 768px (tablets and below) */
    @media (max-width: 768px) {
    .footer {
    height: 50%;
    display: flex;
    flex-direction: column;
    }
    .footer-section, .footer-section1, .footer-section2, .footer-section3 {
    width: 25%;
    }
    }
    
    /* For screens with max-width of 480px (mobile devices) */
    @media (max-width: 480px) {
    .footer {
        display: flex;
        flex-direction: column;
    height: 20%;
    }
    .footer-section, .footer-section1, .footer-section2, .footer-section3 {
    width: 30%;
    }
    .footer-contact p {
    font-size: 14px;
    }
    }
    