/* src/ProductContainer.css */

.product-container {
    padding: 20px;
    background-color: #ffffff;
    justify-content: center;
    margin: 5%;
    text-decoration: none;
  }
  
  .product-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: none;

  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-decoration: none;

  }
  
  .product-card {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    height: 50vh;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease;
    text-decoration: none;

  }
  
  .product-card:hover {
    transform: scale(1.05);
    text-decoration: none;

  }
  
  .product-card img {
    margin: 10%;
    width: 40%;
    height: 40%;
    transition: transform 0.3s ease;
  }
  
  .product-card:hover img {
    transform: scale(1.1);
  }
  
  .product-card h3 {
    font-size: 18px;
    margin: 10px 0;
    text-decoration: none;

  }
  
  .product-card p {
    font-size: 14px;
    color: #888;
    text-decoration: none;

  }
  